@import "tailwindcss";

:root {
  --foreground-rgb: 30, 58, 138; /* Mengubah warna teks default jadi biru tua agar serasi */
}

body {
  color: rgb(var(--foreground-rgb));
  /* PERUBAHAN DI SINI: Gradasi Biru ke Putih */
  background: linear-gradient(
      180deg,    /* Arah dari atas ke bawah */
      #dbeafe 0%, /* Biru langit lembut di bagian atas */
      #f0f9ff 50%, /* Transisi ke biru sangat muda di tengah */
      #ffffff 100% /* Putih bersih di bagian bawah */
    );
  /* -------------------------------------- */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* --- ANIMASI DOKTER --- */
@keyframes swing-very-gentle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.animate-swing {
  transform-origin: bottom center;
  animation: swing-very-gentle 4s ease-in-out infinite;
  display: block;
}

/* Animasi Melayang */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}